<!-- Navbar -->
<nav class="taskbar">
    <ul>
        <li><a href="/"><img src="../assets/images/icons/accessibility_contrast.png" alt="Icon"></a></li>
        <li><a href="about"><img src="../assets/images/icons/accessibility_contrast.png" alt="Icon"></a></li>
        <li class="dropdown">
                <button class="dropbtn">
                    <img src="../assets/images/icons/accessibility_contrast.png" alt="Dropdown Icon">
                </button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </li>
            <li><a href="#"><img src="../assets/images/icons/accessibility_contrast.png" alt="Icon"></a></li>
    </ul>
    <div id="clock" class="clock"></div>
</nav>
<script src="/js/clock.js"></script>
<!-- End of Navbar -->